.todolist,
.checkbox,
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  margin: auto;
  padding: 3em;
  border: 2px solid black;
  border-radius: 2em;
  text-align: center;
}

/* TO DO LIST */
.newTask {
  text-align: left;
}
.todolistForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todolistInput {
  margin-top: 1em;
}

/* CONTEXT */
.contextDescription {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3em;
  margin: auto;
  width: 30vw;
  border: 2px solid black;
  border-radius: 2em;
}

/* COUNTER */
.counterButton {
  margin-top: 1em;
  width: 2em;
}
