a {
  color: white;
  text-decoration: none;
}
.map {
  background-color: silver;
}

.props {
  background-color: springgreen;
}

.filter {
  background-color: violet;
}

.contact {
  padding-bottom: 1.5em;
}

.filterButton {
  background-color: darkturquoise;
}
.todolist {
  background-color: springgreen;
  text-align: center;
}
.counter {
  background-color: silver;
  text-align: center;
}
.form {
  display: none;
}
.checkbox {
  text-align: center;
  background-color: violet;
}
.api {
  background-color: darkturquoise;
}
.apiDetail {
  width: 25%;
  border: 1px solid black;
  background-color: white;
}
.apiImg {
  width: 5em;
}
.timer {
  background-color: springgreen;
}