.homeTitle {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

/* HOMEDETAIL COMPONENT */

.hero {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

.homeDetail {
  height: 10em;
  width: 10em;
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeDetail:hover {
  opacity: 0.5;
}